/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2-nov-2017, 10.16.09
    Author     : Michela
*/

body{
    background-color: #1A282D;
    margin: 0;
    font-family: ProximaNova,Arial,Sans-serif;
    color: white;
}
.container{
    display: grid;
    grid-template-columns: 200px 15px auto;
    grid-template-rows:auto auto;
    grid-template-areas:
        "header header header"
        "main main main";
}
.main{
    grid-area:main;
    background-color: #5a5c51;
    padding-left: 10px;
    padding-right: 10px;
}
.tabCarrello{
    display: grid;
    grid-template-columns: 100%;
    /*grid-template-columns: 60% 20% 20%;*/
    /*grid-gap: 10px;*/
    justify-content: center;
    align-content: center;
    /*justify-items: center;
    align-items: center;*/
    /*margin-left: 10px;
    margin-right: 10px;*/
}
.rigaTit, .rigaItem{
    display: grid;
    grid-template-columns: 60% 20% 20%;
    /*grid-gap: 10px;*/
    justify-content: center;
    align-content: center;
    
    border-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: lightgray;
}
.rigaTit{
    border-width: 2px;
    height: 50px;
}
.rigaItem{
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    /*height: 30px;
    
    justify-items: center;
    align-items: center;*/
}
.item{
    display: grid;
    grid-template-columns: 10% 90%;
    justify-content: center;
    align-content: center;
    grid-template-areas:
        "imgItem nome"
        "imgItem info"
        "imgItem azioni";
}
.itemImage{
    grid-area: imgItem;
    height: 80px;
}
.itemNome{
    grid-area: nome;
    font-size: 20px;
    font-weight: bold;
}
.itemInfo{
    grid-area: info;
}
.itemAzioni{
    grid-area: azioni;
}