.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background-color: #005B6D;
    border-top: 3px;
    border-style: solid;
    border-top-color: #FFBF18;
    border-bottom-color: #005B6D;
    border-left-color: #005B6D;
    border-right-color: #005B6D;
    /* 
    ombre in alto
    -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px -4px 3px rgba(50, 50, 50, 0.75);
    box-shadow:         0px -4px 3px rgba(50, 50, 50, 0.75);*/
}