.containerHeader{
    display: grid;
    grid-area: header;
    grid-template-rows:70px 15px;
    grid-template-areas:
        "topbar"
        ".";
}

.topbar{
    display: grid;
    grid-area: topbar;
    grid-template-columns:200px 15px auto;
    grid-template-rows:40px 30px;
    grid-template-areas:
        "header-title . header-searchbar"
        "header-title . toolbar";
    -webkit-box-shadow: 0 10px 10px -6px lightgrey;
       -moz-box-shadow: 0 10px 10px -6px lightgrey;
            box-shadow: 0 10px 10px -6px lightgrey;
}

.titolo{
    display: table-cell;
    grid-area:header-title;
    font-size: 56px;
    color:red;
    text-align: center;
    vertical-align: middle;
}
.searchbar{
    grid-area:header-searchbar;
    align-self: center;
}
.barra{
    display: table;
    grid-area: toolbar;
    justify-self: end;
    align-self: end;
    
    border-collapse: collapse;
}
.barra > div{
    display: table-cell;
    width: 75px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    
    /*border-left:solid 1px lightgrey;*/

    border-width: 1px;
    border-style: solid;
    
    border-left-color: lightgray;
    border-right-color: lightgrey;
    border-top-color: transparent;
    border-bottom-color: transparent;
    /* bordo gradiente*/
    /*border-image: linear-gradient(to top, lightgray, rgba(0, 0, 0, 0)) 1 100%;*/
}

.barra > div:hover{
    -webkit-box-shadow: 0px 0px 5px darkgrey;
       -moz-box-shadow: 0px 0px 5px darkgrey;
            box-shadow: 0px 0px 5px darkgrey;
}
.barra > div:active{
    -webkit-box-shadow: inset 3px 3px 8px lightgrey;
       -moz-box-shadow: inset 3px 3px 8px lightgrey;
            box-shadow: inset 3px 3px 8px lightgrey;
}
input[type=submit]{
    padding: 8px 24px;
    background-color: ghostwhite;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}