.containerH{
    display: grid;
    grid-area: header;
    grid-template-columns:200px 15px auto;
    grid-template-rows:70px 30px;
    grid-template-areas:
        "header-title . header-searchbar"
        "header-title . toolbar";
    background-color: #005B6D;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 10px 10px -6px #0a0809;
       -moz-box-shadow: 0 10px 10px -6px #0a0809;
            box-shadow: 0 10px 10px -6px #0a0809;
    font-family: Arial, Helvetica, sans-serif;
}
.titolo{
    grid-area:header-title;
    font-size: 56px;
    color:red;
}
.searchbar{
    grid-area:header-searchbar;
    align-self: center;
}
.barra{
    grid-area: toolbar;
    background-color: yellow;
}
input[type=submit]{
    padding: 8px 24px;
    background-color: ghostwhite;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
