body{
    background-color: #1A282D;
    margin: 0;
    font-family: 'Raleway',Sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 200px 15px auto;
    grid-template-rows:auto auto;
    grid-template-areas:
        "header header header"
        "sidebar . main";
}
.main{
    grid-area:main;
    background-color: #5a5c51;
}
.sidebar{
    grid-area:sidebar;
    background-color: #1d2120;
}

