body{
    background-color: #1A282D;
    margin: 0;
    font-family: 'Raleway',Sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 200px 15px auto;
    grid-template-rows:auto auto;
    grid-template-areas:
        "header header header"
        "sidebar . main";
}
.main{
    grid-area:main;
    background-color: #5a5c51;
}
.sidebar{
    grid-area:sidebar;
    background-color: #1d2120;
}
.itemBox{
    display: grid;
    width: 185px;
    height: 265px;
    margin:5px;
    grid-template-columns:185px;
    grid-template-rows:175px 30px 15px 20px 15px; /* img titolo autore stelline prezzo */
    /*
    width: 175px;
    height: 250px;
    */
    /*TEMP */
    background-color: white;
}
.itemImageContainer, .itemAuthor, .itemName, .itemPrice, .itemStars{
    margin-left:5px;
    margin-right:5px;
    margin-top: 5px;
}
.itemImage{
    object-fit: scale-down;
    max-width: 175px;
    height: 175px;
    width: auto\9; /* ie8 */
}
.itemName{
    font-weight: 700;
    font-size: 12px;
    color: blue;
}
.itemAuthor{
    font-size:12px;
}
.itemPrice{
    font-size: 12px;
    margin-bottom: 5px;
}
