body{
    background-color: #2e1905;
    margin: 0;
    font-family: 'Raleway',Sans-serif;
    color: black;
}
.container{
    display: grid;
    grid-template-columns: 15px auto 15px;
    /*grid-template-rows:auto auto;*/
    grid-template-areas:
        "header header header"
        ". main .";
}
.main{
    grid-area:main;
    background-color: #d1e1da;
    margin-bottom: 45px;
    padding-left: 10px;
    padding-right: 10px;
}
.tabList{
    /*justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;*/
}
.rigaTit, .rigaItem{
    display: grid;
    grid-template-columns: 50% 10% 15% 15% 10%;

    border-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: lightgrey;
}
.rigaTit{
    border-width: 2px;
    height: 40px;
    align-items: center;
    font-weight: bold;
}
.rigaItem{
    border-width: 1px;
    padding-top: 12px;
    padding-bottom: 5px;
}
.itemAzioni > a {
    color: #FFBF18;
}

input[type=submit] {
    margin: 5px;
    margin-bottom: 2px; 
    padding:5px 15px; 
    color: white;
    background:#005B6D; 
    border:0 none;
    cursor:pointer;
    /*-webkit-border-radius: 5px;*/
    border-radius: 5px; 
}

.containerList button{
    margin-bottom: 15px;
    margin-top: 5px;
    margin-bottom: 2px; 
    padding:5px 15px; 
    color: white;
    background:#005B6D; 
    border:0 none;
    cursor:pointer;
    /*-webkit-border-radius: 5px;*/
    border-radius: 5px;
}

.active{
    background-color: #777;
}

/*popup*/
#bgFader {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#containerPopup {
    position:relative;
    background-color: #fefefe;
    border: 1px solid #888;
    width: 80%;
    margin: auto;
    height: auto;
}
#contenutoPopup{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    color: black;
}
#contenutoPopup>form{
    display:grid;
    grid-template-columns:auto;
    justify-items:center;
}
#contenutoPopup>form>input,#contenutoPopup>form>h3,#contenutoPopup>form>textArea{
    display:block;
    width: 100%;
}
#contenutoPopup>form>textArea{
    resize:vertical;
    min-height: 150px;
    max-height: 600px;
}
#submit{
    background-color:#005B6D;
    padding:5px 15px;
    margin:3px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
#submit:hover{
    opacity: 0.8;
}

/* The Close Button */
#chiudi {
    position: absolute;
    right: 10px;
    top: -5px;;
    color: #aaaaaa;
    font-size: 36px;
    font-weight: bold;
}

#chiudi:hover,
#chiudi:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#messaggioRecensione{
    color:red;
    display:none;
}
