body{
    background-color: #2e1905;
    margin: 0;
    font-family: 'Raleway',Sans-serif;
    color: black;
}
.container{
    display: grid;
    grid-template-columns: 15px auto 15px;
    /*grid-template-rows:auto auto;*/
    grid-template-areas:
        "header header header"
        ". main .";
}
.main{
    margin-top: 120px;
    grid-area:main;
    background-color: #d1e1da;
    padding-left: 10px;
    padding-right: 10px;
}
.tabNotifiche{
    display: grid;
    grid-template-columns: 50% 50% 0;
    margin-bottom: 10px;
}
.rigaLetta,.rigaNonLetta,.rigaTit,.completeRow{
    border-bottom-style: solid;
    border-bottom-color: black;
}
.rigaTit{
    border-bottom-width: 2px;
    align-items: center;
}
.rigaLetta,.rigaNonLetta{
    border-bottom-width: 1px;
    cursor:pointer;
}
.completeRow{
    border-bottom-width: 1px;
}
.rigaNonLetta{
    font-weight: bold;
}
.rigaHover{
    background-color:#a1b1aa;
}
.tipo,.mittente{
    display:grid;
    padding:5px;
    justify-items:start;
    align-items:left;
}
.descBreve{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.completeRow{
    display:grid;
    grid-column-start: auto;
    grid-column-end: span 3;
    padding:5px;
    justify-items:center;
    align-items:center;
}
.formMessagio{
    display:grid;
    grid-template-columns:100%;
    grid-template-rows:100px,auto;
    justify-items:end;
}
.formMessaggio>div{
    width: 100%;
}
.messaggioCompleto{
    width: 100%;
    height: 100px;
    resize:none;
}

/*popup*/
#bgFader {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#containerPopup {
    position:relative;
    background-color: #fefefe;
    border: 1px solid #888;
    width: 80%;
    margin: auto;
    height: auto;
}
#contenutoPopup{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    color: black;
}
#formRisposta>form{
    display:grid;
    grid-template-columns:auto;
    justify-items:center;
}
#formRisposta>form>input,#formRisposta>form>h3,#formRisposta>form>textArea{
    display:block;
    width: 100%;
}
#formRisposta>form>textArea{
    resize:vertical;
    min-height: 150px;
    max-height: 600px;
}
#submit{
    background-color:#408e5f;
    padding:5px 15px;
    margin:3px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
#submit:hover{
    opacity: 0.8;
}

/* The Close Button */
#chiudi {
    position: absolute;
    right: 10px;
    top: -5px;;
    color: #aaaaaa;
    font-size: 36px;
    font-weight: bold;
}

#chiudi:hover,
#chiudi:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}