.container{
    display: grid;
    grid-template-columns: 15px auto 15px auto 15px;
    grid-template-rows:auto auto 15px auto;
    grid-template-areas:
        "header header header"
        ". profilo ."
        ". . ."
        ". password . ";
}
.editorProfilo{
    background-color: #5a5c51;
    width:100%;
    grid-area:profilo;
}
.editorProfilo>div{
    padding:10px;
}
.editorPassword{
    background-color: #5a5c51;
    width:100%;
    grid-area:password;
}
.editorPassword>div{
    padding:10px;
}
#updateMessage{
    display:none;
    color:red;
}
#passwordMessage{
    display:none;
    color:red;
}
