/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-gen-2018, 17.14.59
    Author     : Michela
*/

body{
    background-color: #1A282D;
    margin: 0;
    font-family: 'Raleway',Sans-serif;
    color: white;
}
.container{
    display: grid;
    grid-template-columns: 100%;
    /*grid-template-rows:auto auto;*/
    grid-template-areas:
        "header"
        "main";
}
.main{
    grid-area:main;
    background-color: #5a5c51;
    padding-left: 10px;
    padding-right: 10px;
}

.itemImage{
    grid-area:immagine;
    object-fit: scale-down;
    /*max-width: 80px;*/
    height: 150px;
    width: auto\9; /* ie8 */
    justify-self: center;
    align-self: center;
}

.rigaItem{
    display: grid;
    padding-top: 10px;
    width: 100%;
    border-top: 3px;
    border-style: solid;
    border-top-color: #1A282D;
    border-bottom-color: #5a5c51;
    border-left-color: #5a5c51;
    border-right-color: #5a5c51;
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: 30px 30px 30px 30px 30px 30px 30px;
    grid-template-areas:
        "name immagine"
        "prod immagine"
        "vend immagine"
        "quant immagine"
        "prez immagine"
        "conse conse"
        ". .";
}
.nome{
    grid-area:name;
}
.produttore{
    grid-area:prod;
}
.venditore{
    grid-area:vend;
}
.quantità{
    grid-area:quant;
}
.prezzo{
    grid-area:prez;
}
.consegna{
    grid-area:conse;
}