/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-dic-2017, 17.34.54
    Author     : Michela
*/

body{
    background-color: #1A282D;
    margin: 0;
    font-family: 'Raleway',Sans-serif;
    color: white;
}
.container{
    display: grid;
    grid-template-columns: 100%;
    /*grid-template-rows:auto auto;*/
    grid-template-areas:
        "header"
        "main";
}
.main{
    margin-top: 100px;
    width: 100%;
    grid-area:main;
    background-color: #5a5c51;
    padding-left: 10px;
    padding-right: 10px;
}

.containerNegozio{
    display: grid;
    margin-bottom: 50px;
    grid-gap: 10px;
    grid-template-areas:
        "image" 
        "informazioni"
        "mappa";
    padding: 10px;
}

.negImage{
    display: grid;
    grid-area: "image";
    
    justify-content: center;
    align-content: center;
    
    justify-items: center;
    align-items: center;
}
.image{
    object-fit: scale-down;
    max-width: 350px;
    justify-self: center;
    align-self: center;
}
.negInformazioni{
    grid-area: "informazioni";
    /*padding-right: 10px;*/
}
.negNome{
    display: grid;
    min-height: 50px;
    font-size: 30px;
    align-content: center;
}
.negLink, negOrari, negTipo{
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 0px;
}
negLink a{
    text-decoration: none;
}
.negLink > a:hover{
    color: lightskyblue;
}
.negLink > a:visited{
    color: lightslategray;
}
.negStars, .negDescrizione{
    /*height: 20px;*/
    margin-bottom: 10px;
}
.negDescrizione{
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
}
.checked{
    color: orange;
}
.mappa{
    height: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    z-index: 99999999;
    transition: 0.5s;
}
.mappa button{
    right: 0;
    background-color: darkblue;
    color: white;
    margin-left: 20px;
    text-align: center;
    font-size: 15px;
    padding: 12px 30px;
    border-radius: 12px;
    align-self: center;
    justify-content: center;
}
#map {
    height: 400px;
    width: 100%;
    -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px -4px 3px rgba(50, 50, 50, 0.75);
    box-shadow:         0px -4px 3px rgba(50, 50, 50, 0.75);
}

.showmappa{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-content: center;
    
    justify-items: center;
    align-items: center;
}

.showmappa button{
    right: 0;
    background-color: darkblue;
    color: white;
    margin-left: 20px;
    text-align: center;
    font-size: 15px;
    padding: 15px 30px;
    border-radius: 12px;
    align-self: center;
    justify-content: center;
}