/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-nov-2017, 18.35.04
    Author     : Michela
*/

body{
    background-color: #1A282D;
    margin: 0;
    font-family: 'Raleway',Sans-serif;
    color: white;
}
.container{
    display: grid;
    grid-template-columns: 100%;
    /*grid-template-rows:auto auto;*/
    grid-template-areas:
        "header"
        "main";
}
.main{
    margin-top: 100px;
    
    width: 100%;
    grid-area:main;
    background-color: #5a5c51;
    padding-left: 10px;
    padding-right: 10px;
}

.containerItem{
    display: grid;
    margin-bottom: 15px;
    grid-gap: 10px;
    grid-template-areas:
        "editorFoto informazioni"
        "containerNegozi"
        "containerRecensioni";
    
    padding: 10px;
    
    /*justify-content: center;
    align-content: center;
    
    justify-items: center;
    align-items: center;*/
}
.containerNegozi{
    display: grid;
    grid-area: "containerNegozi";
}
.containerRecensioni{
    display: grid;
    grid-area: "containerRecensioni";
}
.rigaNegozio{
    display: grid;
    grid-template-columns: 60% 30%;
    grid-gap: 10px;
    grid-template-areas:
        "info button";  
}
.infoNeg{
    display: grid;
    grid-area: "info";
}
.itemCarrello{
    /*display: grid;*/
    grid-area: "button";
}

input[type=submit] {
    margin-bottom: 2px; 
    padding:5px 15px; 
    color: white;
    background:#005B6D; 
    border:0 none;
    cursor:pointer;
    /*-webkit-border-radius: 5px;*/
    border-radius: 5px; 
}

.itemInformazioni{
    grid-area: "informazioni";
    padding-right: 10px;
}
.itemNome{
    display: grid;
    min-height: 50px;
    font-size: 30px;
    align-content: center;
}
.itemProduttore{
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 0px;
}
itemProduttore a{
    text-decoration: none;
}
.itemProduttore > a:hover{
    color: lightskyblue;
}
.itemProduttore > a:visited{
    color: lightslategray;
}
.itemStars, .itemDescrizione{
    /*height: 20px;*/
    margin-bottom: 10px;
}
.itemDescrizione{
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
}
.carrello{
    padding: 3px 10px;
    background-color: ghostwhite;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.checked{
    color: orange;
}

#managerFoto{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items:center;
    justify-content: center;
}

#editorFoto{
    grid-area:editorFoto;
	max-width : 250px;
	max-height : 250px;
}

#visualizzatoreFoto,#visualizzatoreFotoVuoto{
    justify-content: center;
    justify-self: center;
    justify-items:center;
    align-content: center;
    align-items: center;
    align-self: center;
}
#visualizzatoreFoto{
    display:none;
    grid-template-columns: 260px 80x;
    grid-template-rows: 260px 40px;
    grid-template-areas:
        "stampatoreFoto selettoreFoto"
        ". selettoreFoto";
}
#stampatoreFoto{
    grid-area: stampatoreFoto;
    width: 260px;
    height: 260px;
}
#foto{
    max-width: 250px;
    max-height: 250px;
    width: auto;
    height: auto;
}
#selettoreFoto{
    grid-area: selettoreFoto;
    display:grid;
    grid-template-columns: 80px;
    justify-content: center;
    justify-self: center;
    justify-items:center;
    align-content: start;
    align-items: start;
    align-self: start;
    overflow-y: auto;
    width:80px;
    max-height:300px;
}

.divSelettore{
    display:grid;
    width: 60px;
    height: 60px;
    cursor:pointer;
    justify-content: center;
    justify-self: center;
    justify-items:center;
    align-content: center;
    align-items: center;
    align-self: start;
}
.divSelettore:hover{
    background-color:#fff;
}
.divSelettoreSelezionato{
    background-color:lightgrey;
}
.imgSelettore{
    width: 50px;
    height: 50px;
}
#visualizzatoreFotoVuoto{
    height: 250px;
    width: 250px;
    display: grid;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
}